        <a href="@Url.Content("~/")"><img src="../../Content/theme-rr/images/MAMLogo.png" id="logoImage" border="0" alt="Back to MobileAppMusic.com home page."/></a>
        <div id="tagline">@NEST.Common.LandingConfig.Current.Tagline</div>