@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
</h2>
                <!--
                @model NEST.Models.Registrant
                
                    @using (Html.BeginForm())
                    {
                    <div id="MainJoinFields">
                        <div id="fieldInputFName"><input id="FirstName" type="text" maxlength="50" value="First Name" onfocus="if(this.value == 'First Name') { this.value = ''; }" /></div>
                        <div id="fieldInputLName"><input id="LastName" type="text" maxlength="50" value="Last Name" onfocus="if(this.value == 'Last Name') { this.value = ''; }" /></div>
                        <div id="fieldInputEmail"><input id="Email" type="text" maxlength="50" value="Email Address" onfocus="if(this.value == 'Email Address') { this.value = ''; }" /></div>
                        <div id="fieldInputZip"><input id="ZipCode" type="text" maxlength="10" value="Zip Code" onfocus="if(this.value == 'Zip Code') { this.value = ''; }" /></div>
                    </div>
                     }
                 -->