@model NEST.Models.Registrant
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Join";
}

<div id="TitleDiv">
<h1>@ViewBag.Title</h1>
</div>
<div class="main-inner">
    <div id="main-content" class="radius">






    </div>
</div>


