@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_SiteMasterLayout.cshtml";
}

<div id="HomeNewsFeature">
<!-- output of promoted news item + list goes here -->
    <div id="feature">
    <p>Tell FPL they should do what is best for the residents and businesses of Miami-Dade County and bury the lines. We are already paying for them every month on our power bill; we shouldn’t have to pay for them with the health of our children and families, and the economy our community.</p>
<p>The Better Energy Alliance (BEA) is a Miami-Dade-based, 501(c)4 organization dedicated to the belief that any new power transmission lines to be run through the county, whether through a commercial or residential route, should be undergrounded for the safety and economic security of the residents of our community. </p>
    
    </div>


</div>

<div id="titleBar"></div>