@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div id="introText"><p>We're just going to keep this simple. If you are looking for music for your mobile app, game, presentation etc., and you want said music to actually sound unique and maybe even a tad on the dark side, you are at the right place. We create original themes, sounds, and audio branding with a signature flavor you won't find at the average free loops store. Check out our <a href="/free">free audio bundles</a>, and even use them in your projects if you like. When you are ready to commission something original and really cool, we'll be here.</p></div>

