<div id="HomeImage">

<img src="../../Content/images/bird-nest-egg.jpg" />
<ul>
<li>Picasa account for photos</li>
<li>Blogger account for news</li>
<li>Feed burner Account</li>
<li>YouTube account for video</li>
<li>Google analytics account for stats</li>

<li>Soundcloud Account for music</li>
<li>Facebook Page/Profile</li>
<li>Twitter Account</li>
<li>PayPal Account</li>
<li>MailChimp account for mailing list</li>
<li>ArtistData account for shows</li>
<li>Performing Rights Affiliation</li>

</ul>

</div>