@{
    Layout = "~/Views/Shared/_LayoutNEST.cshtml";
    ViewBag.Title = "Gallery Maintenance";
}
<h2>@ViewBag.Title</h2>

<div>

<p>Gallery maintenance content will go here.</p>

<p>Prompt for flickr, youtube, vimeo, picasa, urls.</p>

<p>Allow for upload of photos, pdf documents, promote to homepage etc.</p>

<p>In gallery maintenance prompt for urls of media instead of uploading. Cross-reference gallery images to news articles & allow them to be embedded in content.</p>

<div>




</div>

</div>