@{
    Layout = "~/Views/Shared/_LayoutNEST.cshtml";
    ViewBag.Title = "Events & Calendar Maintenance";
}
<h2>@ViewBag.Title</h2>

<div>

<p>Event maintenance content will go here.</p>

<p>Prompt for Google Calendar ID. If none, then show the event maintenance module.</p>

<p>Options to link to related event media, post to FB/Twitter, promote to homepage. Representative Image/flyer.</p>

<div>




</div>

</div>