@{
    Layout = "~/Views/Shared/_LayoutNEST.cshtml";
    ViewBag.Title = "News Maintenance";
}
<h2>@ViewBag.Title</h2>

<div>

<p>News maintenance content will go here.</p>

<p>Prompt for RSS Feeds and Blog.</p>

<p>Options to link to related event media, post to FB/Twitter, promote to homepage etc.</p>

<div>




</div>

</div>