@{
    ViewBag.Title = "Contribute";
    Layout = "~/Views/Shared/_SiteMasterLayoutSubPage.cshtml";
}


    <form action="https://secure.piryx.com/donate/SDEeWcKS/Better-Energy-Alliance/" method="post">

        <div class="piryx-donation-form">

        @{
            ViewBag.Title = "Contribute | Bury The Lines";
        }

        <h1>Contribute to the Bury The Lines</h1> 

        <div id="personal-information" class="personal-information section">

            <h2>Personal Information</h2>

            <ul class="fields">

            <li class="first-name"><label for="firstName">First Name</label><span class="req" title="Required">Required</span><br /><input id="firstName" name="firstName" type="text" value="" /></li>

            <li class="middle-name"><label for="middleName">Middle Name</label><br /><input id="middleName" name="middleName" type="text" value="" /></li>

            <li class="last-name"><label for="lastName">Last Name</label><span class="req" title="Required">Required</span><br /><input id="lastName" name="lastName" type="text" value="" /></li>

            <li class="email"><label for="email">Email</label><span class="req" title="Required">Required</span><br /><input id="email" name="email" type="text" value="" /></li>

            <li class="address1"><label for="address1">Home Address</label><span class="req" title="Required">Required</span><br /><input id="address1" name="address1" type="text" value="" /></li>

            <li class="address2"><label for="address2">Home Address (line 2)</label><br /><input id="address2" name="address2" type="text" value="" /></li>

            <li class="city"><label for="city">City</label><span class="req" title="Required">Required</span><br /><input id="city" name="city" type="text" value="" /></li>

            <li class="state"><label for="state">State</label><span class="req" title="Required">Required</span><br /><select id="state" name="state"><option value=""> </option>

<option value="US_AA">AA</option>

<option value="US_AE">AE</option>

<option value="US_AK">AK</option>

<option value="US_AL">AL</option>

<option value="US_AP">AP</option>

<option value="US_AR">AR</option>

<option value="US_AS">AS</option>

<option value="US_AZ">AZ</option>

<option value="US_CA">CA</option>

<option value="US_CO">CO</option>

<option value="US_CT">CT</option>

<option value="US_DC">DC</option>

<option value="US_DE">DE</option>

<option value="US_FL">FL</option>

<option value="US_FM">FM</option>

<option value="US_GA">GA</option>

<option value="US_GU">GU</option>

<option value="US_HI">HI</option>

<option value="US_IA">IA</option>

<option value="US_ID">ID</option>

<option value="US_IL">IL</option>

<option value="US_IN">IN</option>

<option value="US_KS">KS</option>

<option value="US_KY">KY</option>

<option value="US_LA">LA</option>

<option value="US_MA">MA</option>

<option value="US_MD">MD</option>

<option value="US_ME">ME</option>

<option value="US_MH">MH</option>

<option value="US_MI">MI</option>

<option value="US_MN">MN</option>

<option value="US_MO">MO</option>

<option value="US_MP">MP</option>

<option value="US_MS">MS</option>

<option value="US_MT">MT</option>

<option value="US_NC">NC</option>

<option value="US_ND">ND</option>

<option value="US_NE">NE</option>

<option value="US_NH">NH</option>

<option value="US_NJ">NJ</option>

<option value="US_NM">NM</option>

<option value="US_NV">NV</option>

<option value="US_NY">NY</option>

<option value="US_OH">OH</option>

<option value="US_OK">OK</option>

<option value="US_OR">OR</option>

<option value="US_PA">PA</option>

<option value="US_PR">PR</option>

<option value="US_PW">PW</option>

<option value="US_RI">RI</option>

<option value="US_SC">SC</option>

<option value="US_SD">SD</option>

<option value="US_TN">TN</option>

<option value="US_TX">TX</option>

<option value="US_UT">UT</option>

<option value="US_VA">VA</option>

<option value="US_VI">VI</option>

<option value="US_VT">VT</option>

<option value="US_WA">WA</option>

<option value="US_WI">WI</option>

<option value="US_WV">WV</option>

<option value="US_WY">WY</option>

</select></li>

            <li class="zip"><label for="zip">Zip/Postal</label><span class="req" title="Required">Required</span><br /><input id="zip" maxLength="10" name="zip" size="10" type="text" value="" /></li>

            <li class="phone"><label for="phone">Home Phone</label><span class="req" title="Required">Required</span><br /><input id="phone" maxLength="14" name="phone" size="14" type="text" value="" /></li>

            <li class="work-phone"><label for="workPhone">Work Phone</label><br /><input id="workPhone" maxLength="14" name="workPhone" size="14" type="text" value="" /></li>

            <li class="fax-phone"><label for="faxPhone">Fax Phone</label><br /><input id="faxPhone" maxLength="14" name="faxPhone" size="14" type="text" value="" /></li>

            <li class="mobile-phone"><label for="mobilePhone">Mobile Phone</label><br /><input id="mobilePhone" maxLength="14" name="mobilePhone" size="14" type="text" value="" /></li>

            </ul>

        </div>

            <br class="clear" />

            

        <div id="employment-information" class="section">

            <h2>Employment Information</h2>

            <ul class="fields" >

            <li class="employer"><label for="employer">Employer</label><span class="req" title="Required">Required</span><br /><input id="employer" name="employer" type="text" value="" /></li>

            <li class="occupation"><label for="occupation">Occupation</label><span class="req" title="Required">Required</span><br /><input id="occupation" name="occupation" type="text" value="" /></li>

            

            <li class="notice"></li>

            </ul>

        </div>

            

            <div id="donation-information">

                

        <div id="amount">

            <h2 >Contribution Amount</h2>

            

    <ul class="amounts no-captions">

        

            <li>

                <label>

                    <input type="radio" id="amount-5.00" name="amount" value="5.00" /><br />

                    <span class="amount">$5</span>

                </label>

            </li>

        

            <li>

                <label>

                    <input type="radio" id="amount-10.00" name="amount" value="10.00" /><br />

                    <span class="amount">$10</span>

                </label>

            </li>

        

            <li>

                <label>

                    <input type="radio" id="amount-25.00" name="amount" value="25.00" /><br />

                    <span class="amount">$25</span>

                </label>

            </li>

        

            <li>

                <label>

                    <input type="radio" id="amount-50.00" name="amount" value="50.00" /><br />

                    <span class="amount">$50</span>

                </label>

            </li>

        

        <li class="clear"></li>

    </ul>    



    <ul class="amounts no-captions">

        

            <li>

                <label>

                    <input type="radio" id="amount-100.00" name="amount" value="100.00" /><br />

                    <span class="amount">$100</span>

                </label>

            </li>

        

            <li>

                <label>

                    <input type="radio" id="amount-250.00" name="amount" value="250.00" /><br />

                    <span class="amount">$250</span>

                </label>

            </li>

        

            <li>

                <label>

                    <input type="radio" id="amount-500.00" name="amount" value="500.00" /><br />

                    <span class="amount">$500</span>

                </label>

            </li>

        

            <li class="other">

                <label>

                    <input type="radio" id="amount-custom" name="amount" value="custom" /><br />

                    <span class="amount">$</span>

                </label>

                <input id="customAmount" maxLength="7" name="customAmount" size="5" type="text" value="" />

            </li>

        

        <li class="clear"></li>

    </ul>    



            <div class="clear" style="margin-bottom:16px;"></div>

        </div>





        <div id="payment-information">

            <h2>Payment Information</h2>



            <ul class="card-type">

            <li><label><input type="radio" id="payment-echeck" name="payment" value="echeck" checked="checked" /> <span id="pt-echeck">E-Check</span></label></li><li><label><input type="radio" id="payment-visa" name="payment" value="visa" /> <span id="pt-visa">Visa</span></label></li><li><label><input type="radio" id="payment-mastercard" name="payment" value="mastercard" /> <span id="pt-mastercard">Mastercard</span></label></li><li><label><input type="radio" id="payment-amex" name="payment" value="amex" /> <span id="pt-amex">Amex</span></label></li><li><label><input type="radio" id="payment-discover" name="payment" value="discover" /> <span id="pt-discover">Discover</span></label></li>

            </ul>



            <ul id="cc-info" style="display:none;"><li class="card-number"><label for="cardNumber">Card Number</label><br /><input autocomplete="off" id="cardNumber" maxLength="16" name="cardNumber" size="16" type="text" value="" /></li><li class="cvv2"><label for="cardCVV2">CSC</label> <a href="/donate/card-security-code" onclick="return popUpCscInfo()" target="_blank" title="What is this?">?</a><br /><input autocomplete="off" id="cardCVV2" maxLength="4" name="cardCVV2" size="4" type="text" value="" /></li><li class="expiration">

                <strong >Expiration</strong><br />

                <div class="month">

                    <label for="expirationMonth">Month</label><select id="expirationMonth" name="expirationMonth"><option value="">Month</option>

<option>01</option>

<option>02</option>

<option>03</option>

<option>04</option>

<option>05</option>

<option>06</option>

<option>07</option>

<option>08</option>

<option>09</option>

<option>10</option>

<option>11</option>

<option>12</option>

</select>

                </div>

                <div class="year">

                    <label for="expirationYear">Year</label><select id="expirationYear" name="expirationYear"><option value="">Year</option>

<option>2011</option>

<option>2012</option>

<option>2013</option>

<option>2014</option>

<option>2015</option>

<option>2016</option>

<option>2017</option>

<option>2018</option>

<option>2019</option>

<option>2020</option>

<option>2021</option>

</select>

                </div>

                <div class="clear"></div>

            </li></ul>

            

            <ul id="echeck-info">

            <li class="routing-number"><label for="routingNumber">Routing Number</label><br /><input autocomplete="off" id="routingNumber" name="routingNumber" type="text" value="" /></li>

            <li class="account-number"><label for="accountNumber">Account Number</label><br /><input autocomplete="off" id="accountNumber" name="accountNumber" type="text" value="" /></li>

            <li class="help"><img src="https://secure.piryx.com/images/donations/echeck-help.gif" alt="Your routing number is a 9 digit number that typically appears on the left hand side of your checks.  The account number typically appears on the right hand side of the check and can vary in length." style="width:200px;" /></li>

            </ul>

            

        </div>



        <div id="billing-information" class="section">

            <h2>Billing Information</h2>

            <ul class="fields">

            <li class="same"><label><input type="checkbox" name="billingSameAsHome" value="1" id="billingSameAsHome" /> Same as home address.</label></li>

            <li class="address1"><label for="billingAddress1">Billing Address</label><br /><input id="billingAddress1" name="billingAddress1" type="text" value="" /></li>

            <li class="address2"><label for="billingAddress2">Billing Address (line 2)</label><br /><input id="billingAddress2" name="billingAddress2" type="text" value="" /></li>

            <li class="city"><label for="billingCity">City</label><br /><input id="billingCity" name="billingCity" type="text" value="" /></li>

            <li class="state"><label for="billingState">State</label><br /><select id="billingState" name="billingState"><option value=""> </option>

<option value="US_AA">AA</option>

<option value="US_AE">AE</option>

<option value="US_AK">AK</option>

<option value="US_AL">AL</option>

<option value="US_AP">AP</option>

<option value="US_AR">AR</option>

<option value="US_AS">AS</option>

<option value="US_AZ">AZ</option>

<option value="US_CA">CA</option>

<option value="US_CO">CO</option>

<option value="US_CT">CT</option>

<option value="US_DC">DC</option>

<option value="US_DE">DE</option>

<option value="US_FL">FL</option>

<option value="US_FM">FM</option>

<option value="US_GA">GA</option>

<option value="US_GU">GU</option>

<option value="US_HI">HI</option>

<option value="US_IA">IA</option>

<option value="US_ID">ID</option>

<option value="US_IL">IL</option>

<option value="US_IN">IN</option>

<option value="US_KS">KS</option>

<option value="US_KY">KY</option>

<option value="US_LA">LA</option>

<option value="US_MA">MA</option>

<option value="US_MD">MD</option>

<option value="US_ME">ME</option>

<option value="US_MH">MH</option>

<option value="US_MI">MI</option>

<option value="US_MN">MN</option>

<option value="US_MO">MO</option>

<option value="US_MP">MP</option>

<option value="US_MS">MS</option>

<option value="US_MT">MT</option>

<option value="US_NC">NC</option>

<option value="US_ND">ND</option>

<option value="US_NE">NE</option>

<option value="US_NH">NH</option>

<option value="US_NJ">NJ</option>

<option value="US_NM">NM</option>

<option value="US_NV">NV</option>

<option value="US_NY">NY</option>

<option value="US_OH">OH</option>

<option value="US_OK">OK</option>

<option value="US_OR">OR</option>

<option value="US_PA">PA</option>

<option value="US_PR">PR</option>

<option value="US_PW">PW</option>

<option value="US_RI">RI</option>

<option value="US_SC">SC</option>

<option value="US_SD">SD</option>

<option value="US_TN">TN</option>

<option value="US_TX">TX</option>

<option value="US_UT">UT</option>

<option value="US_VA">VA</option>

<option value="US_VI">VI</option>

<option value="US_VT">VT</option>

<option value="US_WA">WA</option>

<option value="US_WI">WI</option>

<option value="US_WV">WV</option>

<option value="US_WY">WY</option>

</select></li>

            <li class="zip"><label for="billingZip">Zip/Postal</label><br /><input id="billingZip" maxLength="10" name="billingZip" size="10" type="text" value="" /></li>

            </ul>

        </div>

            </div>

            

<div id="contribution-type" class="section">

    <h2 >Contribution Type</h2>

    <input id="RecurringPeriod" name="RecurringPeriod" type="hidden" value="Monthly" />

    <ul>

    <li><label><input id="IsRecurring" name="IsRecurring" type="radio" value="False" /> I want to donate the above amount a single time.</label></li>

    <li><label><input id="IsRecurring" name="IsRecurring" type="radio" value="True" /> I want to donate the above amount today and continue donating monthly for</label> <label><select id="NumberOfRecurringMonths" name="NumberOfRecurringMonths"><option value="0">every month until cancelled</option>

<option value="1">1 additional months</option>

<option value="2">2 additional months</option>

<option value="3">3 additional months</option>

<option value="4">4 additional months</option>

<option value="5">5 additional months</option>

<option value="6">6 additional months</option>

<option value="7">7 additional months</option>

<option value="8">8 additional months</option>

<option value="9">9 additional months</option>

<option value="10">10 additional months</option>

<option value="11">11 additional months</option>

</select> starting January 7.</label></li>

    </ul>

</div>

<div class="section" style="margin: 10px 0;">

    <p><label><input checked="checked" id="PublishDonation" name="PublishDonation" style="vertical-align: middle;" type="checkbox" value="true" /><input name="PublishDonation" type="hidden" value="false" /> I want to publish my name to the Bury The Lines giving stream! (Note: your contribution amount will not be shown)</label></p>

</div>

            <div class="buttons">

                <button type="submit" onclick="$(this).hide(); $('#submitting').show();"><img alt="Submit" src="https://secure.piryx.com/images/v2/btn-submit.png" title="Submit" /></button>

                <span id="submitting" style="display: none; color: green; font-weight: bold;">Your donation is being submitted. Please be patient.</span>

            </div>

        </div>

    </form>

