@model NEST.Models.Registrant
@{
    Layout = "~/Views/Shared/_SiteMasterSubpageLayout.cshtml";
    ViewBag.Title = "Volunteer";
}

<h1>Volunteer</h1>
<br /><br />
<iframe src="https://services.myngp.com/ngponlineservices/volunteer.aspx?X=l%2bH4kheGknxu4ExgDKMYvw%3d%3d" width="700" height="1000"></iframe>
