@{
    ViewBag.Title = "WhyBuryTheLines";
    Layout = "~/Views/Shared/_SiteMasterLayoutSubPage.cshtml";
}

<h1>Why Bury The Lines</h1>

<p><img style="float: right;" src="http://thebluedove.com/images/FPL%20Power%20Poles%20014.jpg" alt="" width="300" /><br />
Nearly a decade before ground is broken on new nuclear facilities in this county (if
it is even broken), FPL has proposed building a new 230 kV transmission line which
must either run through a densely populated residential neighborhood or a densely
populated commercial district (maps here). In either case, because of Florida
law, FPL is under no obligation to construct these lines in any way other than the
cheapest possible for them. They are also under no obligation to protect residents
from electro-magnetic fields (EMF) above 15 feet from the ground (factcheck).

</p>

<h2>The facts are clear about power transmission lines of this voltage and size:</h2>


<ul style="padding-left:15px;">
<li><p>- People living within 165 feet of transmission lines experience doubled
rates of childhood leukemia and Alzheimer’s disease and other forms of
dementia. (More here)</p></li>
<li><p>- Property values within sight of transmission lines are reduced by 10% on
average. This decline in property value reduces the tax base, the level of
economic activity, and the number of jobs. Affected properties also take
longer to sell. (More here)</p></li>
</ul>

<p>FPL should do what is best for the residents and businesses of Miami-Dade County
and underground the lines. We are already paying for them every month on our
power bill; we shouldn’t have to pay for them with the health of our children and
families, and the economy our community.</p>

<p>The bottom line is that enormous power transmission lines simply should not be
running through densely populated parts of our community. The lines are a health
hazard, an eyesore and unnecessary. If FPL truly needs this new transmission
capacity – that we are already paying for – they should do the responsible thing and
bury these lines at not costs to the cities or the ratepayers.</p>